.c-date-picker {
  display: flex;
  flex-direction: column;
  padding: 13px 16px;
  .c-text {
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: #13AB53;
    margin-bottom: 4px;
  }
  .c-input-wrap {
    width: 278px;
    height: 40px;
    border: 2px solid #13AB53;
    border-radius: 4px;
    .c-input {
      width: 100%;
      height: 100%;
      padding: 0 16px;
      font-size: 16px;
      line-height: 24px;
      border-radius: 4px;
      color: rgba(255, 255, 255, 0.9);
      background: #262936;
      border: none;
      outline: none;
    }
  }
}


.c-one-date-picker {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 0 33px;
  }
  &__body {
    display: flex;
    flex-direction: column;
  }
}

.week-days {
  display: flex;
  .week-day {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #B4B5BD;
  }
}