::ng-deep {
  .mat-menu-content:not(:empty) {
    padding: 0 !important;
  }
}

.d-picker-wrapper {
  width: 275px;
  height: 440px;
  border-radius: 4px;
  background: #262936;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: flex-end;
    padding: 14px 14px 6px;

    span {
      color: #9FA4B2;
      font-size: 12px;
      cursor: pointer;
    }
  }

  .step {
    height: 68px;
    display: flex;
    flex-direction: column;
    padding: 8px 20px;

    &-title {
      display: flex;
      color: #fff;
      margin-bottom: 12px;

      span {
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
      }
    }
    &-number {
      width: 20px;
      height: 20px;
      border: 1px solid #13AB53;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      line-height: 12px;
      margin-left: 4px;
    }
    &-subtitle {
      font-size: 14px;
      line-height: 20px;
      color: #BABFCE;
    }
  }

  &__footer {
    height: 48px;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    .accept {
      background-color: transparent;
      border: none;
      font-size: 14px;
      line-height: 20px;
      color: #13AB53;
      cursor: pointer;
      height: fit-content;
      &.invalid {
        color: rgba(19, 171, 83, 0.3);
      }
    }
  }

}

.main {
  padding: 10px 20px;
}

::ng-deep {
  .radio-group {
    display: flex;
    flex-direction: column;
    .radio-button {
      margin: 3px 0;
      color: #fff;
      .mat-radio-container {
        height: 16px;
        width: 16px;
      }
      .mat-radio-outer-circle {
        border-color: #9FA4B2 !important;
        height: 16px;
        width: 16px;
      }
      .mat-radio-inner-circle {
        background-color: #9FA4B2;
        height: 16px;
        width: 16px;
      }
      .mat-ripple-element {
        background-color: transparent !important;
      }
    }
  }
}


.display-type {
  padding: 5px 20px;
}

::ng-deep {
  .mat-select {
    width: 186px !important;
    height: 36px;
    background: #262936;
    border: 1px solid #53586D;
    border-radius: 4px;
    color: #fff;
    .mat-select-trigger {
      height: 100%;
    }
    .mat-select-value {
      height: 100%;
      vertical-align: middle;
      padding-left: 20px;

      .mat-select-placeholder,
      .mat-select-value-text {
        color: #fff;
      }

    }
    .mat-select-arrow-wrapper {
      padding-right: 10px;
      .mat-select-arrow {
        color: #fff;
      }
    }
  }
  .mat-select-panel {
    margin-top: 36px;
    margin-left: 16px;
    width: 186px !important;
    max-width: 186px !important;
    min-width: 186px !important;
    background: #262936;

    .mat-option {
      background: #262936;
      color: #fff;
      &.mat-selected {
        background: #4c516a !important;
      }
      &:hover {
        background: #262936;
      }
    }
  }
}

.datepicker-field {
  margin-bottom: 15px;
}

::ng-deep {
  .mat-button-wrapper {
    svg {
      color: #9FA4B2;
    }
  }
}
  


.date-picker {
  display: flex;
  align-items: center;
  width: 232px;
  height: 36px;
  border: 1px solid #53586D;
  border-radius: 4px;
  background: #262936;
  padding: 0 22px;
  cursor: pointer;

  .dates {
    margin-left: 15px;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
  }
}

  
