<div class="d-picker-wrapper">
  <div class="d-picker-wrapper__header">
    <span class="icon-close">&#10006;</span>
  </div>
  <div class="step">
    <div class="step-title">
      <span> Шаг </span>
      <div class="step-number">1</div>
    </div>
    <div class="step-subtitle"> Выберите глубину данных: </div>
  </div>

  <div class="main">
    
    <div class="datepicker-field">
      <input [matDatepicker]="picker" placeholder="Введите нужную дату" [formControl]="dateControl" (change)="onDateChange($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [startView]="startview"></mat-datepicker>
    </div>

    <mat-radio-group class="radio-group" [formControl]="radioControl" (change)="onRadioChange($event)">
      <mat-radio-button class="radio-button" *ngFor="let g of group" [value]="g.value">
        {{g?.name}}
      </mat-radio-button>
    </mat-radio-group>
  </div>


  <div class="step">
    <div class="step-title">
      <span> Шаг </span>
      <div class="step-number">2</div>
    </div>
    <div class="step-subtitle"> Выберите способ отображения: </div>
  </div>
  <div class="display-type">
    <mat-select
      [formControl]="displayTypeControl"
      (selectionChange)="onSelectChange($event)"
      placeholder="Выбрать из списка"
      disableRipple="true"
      disableOptionCentering="true"
      panelClass="my-panel">
      <mat-option>
        Не выбрано
      </mat-option>
      <mat-option *ngFor="let d of displayTypes" [value]="d?.value">
        {{d?.name}}
      </mat-option>
    </mat-select>
  </div>
  <div class="d-picker-wrapper__footer">
    <button class="accept">Применить</button>
  </div>
</div>