
.d-picker-wrapper {
  width: 275px;
  height: 440px;
  border-radius: 4px;
  background: #262936;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: flex-end;
    padding: 14px 14px 6px;

    span {
      color: #9FA4B2;
      font-size: 12px;
      cursor: pointer;
    }
  }

  .step {
    height: 68px;
    display: flex;
    flex-direction: column;
    padding: 8px 20px;

    &-title {
      display: flex;
      color: #fff;
      margin-bottom: 12px;

      span {
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
      }
    }
    &-number {
      width: 20px;
      height: 20px;
      border: 1px solid #13AB53;
      border-radius: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      line-height: 12px;
      margin-left: 4px;
    }
    &-subtitle {
      font-size: 14px;
      line-height: 20px;
      color: #BABFCE;
    }
  }

  &__footer {
    height: 48px;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
    .accept {
      background-color: transparent;
      border: none;
      font-size: 14px;
      line-height: 20px;
      color: #13AB53;
      cursor: pointer;
      height: fit-content;
      &.invalid {
        color: rgba(19, 171, 83, 0.3);
      }
    }
  }

}

.main {
  padding: 10px 20px;
}

::ng-deep {
  .radio-group {
    display: flex;
    flex-direction: column;
    .radio-button {
      margin: 3px 0;
      color: #fff;
      .mat-radio-container {
        height: 16px;
        width: 16px;
      }
      .mat-radio-outer-circle {
        border-color: #9FA4B2 !important;
        height: 16px;
        width: 16px;
      }
      .mat-radio-inner-circle {
        background-color: #9FA4B2;
        height: 16px;
        width: 16px;
      }
      .mat-ripple-element {
        background-color: transparent !important;
      }
    }
  }
}


.display-type {
  padding: 5px 20px;
}

.datepicker-field {
  margin-bottom: 15px;
}

::ng-deep {
  .mat-button-wrapper {
    svg {
      color: #9FA4B2;
    }
  }
}
  



::ng-deep {
  .mat-dialog-container {
    padding: 0 !important;
  }
  .cdk-overlay-dark-backdrop {
    background-color: transparent !important;
  }
}